@import url('https://fonts.cdnfonts.com/css/valentine-2');
@import url('https://fonts.cdnfonts.com/css/kidsland-avenue');
body{
    background-color: #ffbfcb;
    margin-top: 3rem;
}
h1{
    margin-top: 0;
    text-align: center;
    font-family: 'Valentine', sans-serif;
    font-size: 5rem;
}
.container{
    width: 60%;
    margin: 0 auto;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.p1{
    font-family: 'Kidsland Avenue', sans-serif;
    font-size: 1.7rem;
    margin-left: 2rem;
}
.p2{
    font-family: 'Kidsland Avenue', sans-serif;
    font-size: 1.5rem;
    width: 75%;
    text-align:justify;
    margin-left: 5.9rem;

}
